.footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
}

.footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
}

.footer-copyright {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}