$margin-sections: 60px;

.uploadplugin {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.uploadplugin-row {
    display: flex;
    max-width: 920px;
    margin: $margin-sections 0;
    flex-direction: column;
}

.upload-input-container {
    width: 100%;
    min-width: 400px;
    margin-top: 10px;
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 10px;
}

.submit-btn {
    min-height: 46px;
}

.uppercase {
    text-transform: uppercase;
}

.error-container {
    margin-bottom: 20px;
}

.error-message {
    color: red;
}
